 /* MAIN */
  .panell{
      padding-left: 15%;
      margin-top: 5%; 
    position: relative;
  }
  .addVote{
      background-color: rgb(154, 3, 30);
      color:white;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      position: fixed !important;
      bottom: 10px;
      right: 10px;
      border: 0px;
  }
    .show2{
        background-color: white;
        box-shadow:  2px 2px 2px 2px rgba(110, 110, 110, 0.2);
        padding: 1%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .fill{
        padding-top: 20px;
    }
    .till{
        border: 0 !important;
        outline: 0 !important;
        font-weight: bold;
    }
    #imagg{
        width: 100px;
        height: 100px;
    }
  .panel{
      margin: auto;
      width: 30%;
      box-shadow:  2px 2px 2px 2px rgba(110, 110, 110, 0.2);
      padding: 2%;
      background-color: white;
      animation: animatezoom 0.6s;
      position: fixed;
      z-index: 1000;
      top: 5%;
      left: 40% !important;
      height: 90vh;
      overflow-y: scroll;
    }
    .panel2{
        background-color: white;
        animation: animatezoom 0.6s;
        position: relative;
        width: 90%;
        margin-top: 8% !important;
        left: 13%;
        padding: 2%;
    }
    .close{
        right: 0px !important;
        border: 0px;
        background-color: transparent;
    }

   
    @keyframes animatezoom{
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
  .reg{   
      background-color: rgb(154, 3, 30);
      color: white;
      font-weight: bold;
      border: 0px;
      border-radius: 5px;
      padding: 5px 10px;
  }
  .ref{
      text-align: center;
      padding-top: 10px;
  }
  textarea{
      padding: 2%;
      width: 100%;
  }
  .image{
      width: 100px;
      height: 100px;
      border: 1px solid lightgrey;
      margin-bottom: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
.imagg{
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
}

.part{
    margin-bottom: 10px;
    padding-top: 5px;
}
label{
    font-weight: bold;
}

.till{
    border: 0 !important;
    outline: 0 !important;
    font-weight: bold;
}

.till:focus{
    border: 0 !important;
    outline: 0 !important;
}
.generate{
    font-size: 12px;
    background-color: rgb(154, 3, 30) !important;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.fillCode{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid lightgray;
    padding: 1%;
    border-radius: 6px;
}


.parent{
    position: relative;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change form{
    margin-left: 2%;
}
   /* BUTTON */
   .change{
       padding-top: 2%;
       display: flex;
       justify-content: space-between;
       margin-right: 10px;
   }
    .view, .edit, .del{
        color: white;
        border: none;
        border-radius: 5px;
        padding: 2px 5px;
        margin-left: 2%;
    }
    .view{
        background-color: blue;
    }
    .edit{
        background-color: green;
    }
    .del{
        background-color: red;
    }

@media(max-width:760px){
    .panel{
        width: 80%;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        left: 17% !important;
        top: 10% !important;
    }
    .panel2{
        margin-top: 15% !important;
    }
    .view, .edit, .del{
        font-size: 10px;
        font-weight: bold;
    }
}
 